.header{
    background-color: blueviolet;
 
  

}
.header h1{
    font-weight: 400px;
    text-indent: 10px;
}


h3{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 190, 245);
}

.food{
    width: 50px;
    height: 50px;
}
